/* Dispositivos móviles en posición vertical (portrait) */
@media (min-width: 320px) and (orientation: portrait) {
    .container-tv{
        width: 65vw;
        height: 22vh;
        top: 39vh;
        left:-8vw;
    }
}


/* Dispositivos móviles en posición horizontal (landscape) */
@media (min-width: 320px) and (orientation: landscape) {
    .body{
        background-image: url(/assets/images/Fondo-movil-5-GCE.png);
    }

    .container-tv{
        width: 50vw;
        height: 63vh;
        top: 13.6vh;
        left:-5vw;
    }

}

/* Tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    .container-tv{
        width: 65vw;
        height: 27vh;
        top: 37vh;
        left:-8vw;
    }
}

@media (min-width:768px) and (orientation: landscape) {
    .container-tv{
        width: 50vw;
        height: 44vh;
        top: 24.5vh;
        left:-5.5vw;
    }
}

/* Laptops o PC */
@media (min-width: 1025px) {
    .container-tv{
        width: 50vw;
        height: 55vh;
        top: 18vh;
        left:-5.5vw;
    }
}
