:root {
    --primary-color: #eee;
    --secondary-color: #ddd;
    --third-color: #ff6699;
    --back-mobile: #fdc82a;
    --back-color: linear-gradient(135deg, #fdc82a, #ff6699);
    --font-gral: 3vh;
    --font-dos: 2.5vh;
    --font-mini: 1vh;
    --titulo: 8vh;
}

.body {
    box-sizing: border-box;
    margin:0;
    padding:0;
    max-height: 100vh;
    max-width: 100vw;
    background-image: url(/assets/images/Fondo-movil-3-GCE.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Permanent Marker', sans-serif;
    overflow-x: hidden;
}

.video-iframe { 
    position: absolute;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.container-tv{
    position: relative; 
    width: 100%; 
    height: 100vh;
}